<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerConsulta</servlet-name>
  	<display-name>ControllerConsulta</display-name>
  	<description></description>
  	<servlet-class>com.unab.proyect.Controladores.ControllerConsulta</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerLogin</servlet-name>
  	<display-name>ControllerLogin</display-name>
  	<description></description>
  	<servlet-class>com.unab.proyect.Controladores.ControllerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerCerrarSession</servlet-name>
  	<display-name>ControllerCerrarSession</display-name>
  	<description></description>
  	<servlet-class>com.unab.proyect.Controladores.ControllerCerrarSession</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerConsulta</servlet-name>
  	<url-pattern>/ControllerConsulta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerLogin</servlet-name>
  	<url-pattern>/ControllerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCerrarSession</servlet-name>
  	<url-pattern>/ControllerCerrarSession</url-pattern>
  </servlet-mapping>
</web-app>
